{% extends 'panel_admin/base.html' %}
{% load crispy_forms_tags %}

{% block js %}
{{ block.super }}
<script>
    function confirmarGuardarExclusivo() {
        Swal.fire({
            "title": "¿Crear nuevo ítem exclusivo?",
            "text": "Se registrará este menú exclusivo en el sistema",
            "icon": "info",
            "showCancelButton": true,
            "confirmButtonText": "Sí, guardar",
            "cancelButtonText": "No, cancelar",
            "reverseButtons": true
        })
        .then(function(result) {
            if (result.isConfirmed) {
                // ESTA CON ID
                document.getElementById('formAgregarExclusivo').submit();
            }
        });
    }
</script>
{% endblock %}

{% block main %}
<br><br>
<div class="col-12 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h2 style="font-family: 'Montserrat', sans-serif; color: #e4228d;">Agregar Comida Exclusiva</h2>
            <hr class="border-secondary opacity-25">
            <br>
            <div class="row">
                <form action="" method="post" enctype="multipart/form-data" id="formAgregarExclusivo">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <div class="d-flex justify-content-center gap-2">
                        <hr class="border-secondary opacity-25">
                        
                        <button type="button" onclick="confirmarGuardarExclusivo()" class="btn px-3 py-2" style="background-color: #FCB2D3; color: white; font-weight: bold; font-size: 1.1rem;">
                            Guardar
                        </button>
                        
                        <a href="{% url 'admin_listar_exclusivo' %}" class="btn btn-secondary d-flex align-items-center">
                            Cancelar
                        </a>
                    </div>
                </form>
                {{ mensaje }}
            </div>
        </div>
    </div>
</div>
{% endblock %}