{% extends "./layouts/baseNav_Check.html" %}
{% load static %} <!DOCTYPE html>
{% block content %}

      <!-- para agregar productos, si es necesario, agregar más-->      
<div class="productos">
  <div class="producto">
    <img src="{% static 'cafeteria_app/img/newProducts/new_matchaRoll.jpg' %}" alt="Producto 1">
    <h3>Matcha Roll</h3>
    <p>$4.500</p>
    <button onclick="agregarAlCarro('Matcha Roll', 4500)">Agregar al Carro</button>
  </div>
</div>


<!-- para el carro -->
<div class="cart">
  <h2>Carro de Compras</h2>
  <div class="cart-items">
    <ul id="cart-items-list"></ul>
    <p>El total es: <span id="cart-total"></span></p>
  </div>
</div>
<script src="carro.js"></script>
        
        <script src="" async defer></script>

{% endblock %}
