{% extends "./layouts/baseTitles.html" %}
{% load static %}

{% block color %}
<div class="banner-title-capsule d-flex justify-content-center align-items-center" style="background-color: #EBDDFB;">
{% endblock %}

{% block banner_titulo %}EVENTOS{% endblock %}

{% block main_content %}
<div class="d-flex justify-content-center gap-3 mb-4" style="margin-top: -22px;">
    <a href="?" class="btn btn-light rounded-pill px-4 py-2 shadow fw-medium"
        style="letter-spacing: 2px; font-size: 13px;">Todo</a>
    {% for catEvent in cateventostotal %}
    <a href="?categoriaevento={{ catEvent.name }}" class="btn btn-light rounded-pill px-4 py-2 shadow fw-medium"
        style="letter-spacing: 2px; font-size: 13px;">{{ catEvent.name|title }}</a>
    {% endfor %}
</div>

<!-- BUSCADOR -->
<form class="d-flex mx-auto mb-5" method="GET" style="justify-content: center; gap: 10px; max-width: 400px;">
    <input class="form-control me-2" style="border-radius: 50px;" type="search" name="busqueda" placeholder="Search" aria-label="Search">
    <button class="btn" style="border-radius: 50px; background-color: #FCB2D3; color: white; font-weight: bold;" type="submit">Search</button>
</form>

<div class="container my-4">
    <div class="row g-3 justify-content-center">
        {% for evento in eventototal %}
        <div class="col-12 col-md-6 col-lg-4 d-flex">
            <a href="{% url 'event_detail' evento.id %}" class="text-decoration-none text-reset" 
            style="display: contents;">
                <div class="events-card position-relative overflow-hidden rounded-4">
                    {% if evento.image %}
                        <img src="{{ evento.image.url }}" alt="{{ evento.name }}" 
                        class="w-100 h-100 " style="cursor:pointer";>
                    {% endif %}
                    <p class=" text-center">{{ evento.details_min }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
