{% extends "./layouts/baseTitles.html" %}
{% load static %}

{%block color%}<div class="banner-title-capsule d-flex justify-content-center align-items-center" style="background-color: #D9F7BA;">{%endblock%}
{% block banner_titulo %}GALLERY{% endblock %}

{% block main_content %}
    <div class="container mt-5">
        <h2>Galeria</h2>
        <div class="row">
            <div class="col-md-4">
                <a href="https://instagram.com" target="_blank">
                    <img src="{% static 'cafeteria_app/img/gallery/gallery1.jpg' %}" alt="Imagen 1" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://instagram.com" target="_blank">
                    <img src="{% static 'cafeteria_app/img/gallery/gallery2.jpg' %}" alt="Imagen 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://instagram.com" target="_blank">
                    <img src="{% static 'cafeteria_app/img/gallery/gallery3.jpg' %}" alt="Imagen 3" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
{% endblock %}