{% extends "./layouts/baseTitles.html" %}
{% load static %}

{%block color%}<div class="banner-title-capsule d-flex justify-content-center align-items-center" style="background-color: #fefdd1;">{%endblock%}
{% block banner_titulo %}REGALOS{% endblock %}


{% block main_content %}

<style>
    h3{
        font-family: 'Montserrat', sans-serif;
        color: #7B7171 !important;
        letter-spacing : 0.75 px;
        font-weight : light;
    }

    p{
        font-family: 'Montserrat', sans-serif;
        color: #7B7171 !important;
    }

</style>   
<div class="d-flex justify-content-center gap-3 mb-4" style="margin-top: -22px;">
    <a href="?" class="btn btn-light rounded-pill px-4 py-2 shadow fw-medium" 
        style="letter-spacing: 2px; font-size: 13px;">Todos</a>
    {% for category in categories %}
    <a href="?categoria={{ category.name }}" class="btn btn-light rounded-pill px-4 py-2 shadow fw-medium" 
        style="letter-spacing: 2px; font-size: 13px;">{{ category.name|title }}</a>
    {% endfor %}
</div>
<!-- BUSCADOR -->
<form class="d-flex mx-auto mb-5" method="GET" style="justify-content: center; gap: 10px; max-width: 400px;">
    <input class="form-control me-2" style="border-radius: 50px;" type="search" name="busqueda" placeholder="Search" aria-label="Search">
    <button class="btn" style="border-radius: 50px; background-color: #FCB2D3; color: white; font-weight: bold;" type="submit">Search</button>
</form>


<!--cONTENIDO -->
    <div class="container my-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4" style="margin-bottom: 30px;">
            <div style="border: 1px solid #fdf6f6; padding: 20px; border-radius: 20px; text-align: center;">
                <h3>{{ product.name }}</h3>
                
                {% if product.image %}
                    <a href="{% url 'products_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%; height: 200px; object-fit: contain;">
                    </a>
                {% endif %}
                
                <p>{{ product.details }}</p>
                
                <a href="{% url 'add_to_cart' product.id %}" class="btn" style="background-color: #FCB2D3; color: white; border-radius: 50px;">
                    Agregar al Carro
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div> 
    <br><br><br><br>
        
    </div>

{% endblock %}


        
    