{% extends 'panel_admin/base.html' %}
{% load crispy_forms_tags %}

{%block js%}
{{ block.super }}
<script>
    function eliminarCategoria(id){
        Swal.fire({
            "title": "Estas seguro?",
            "text":"Esta accion no se puede deshacer",
            "icon":"question",
            "showCancelButton":true,
            "confirmButtonText": "Sí, eliminar",
            "reverseButtons":true
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/panel_admin/categorias/eliminar/" + id + "/";
            }
        })

    }
</script>
{% endblock %}


{% block main %}
<br><br>
<div class="card">
    <div class="card-body">
        <h2 style="font-family: 'Montserrat', sans-serif; color: #e4228d;">Lista de categorías actuales</h2>
        <hr class="border-secondary opacity-25">

        <a href="{% url 'admin_agregar_categoria' %}" class="btn btn-sm mb-3" style="background-color: #FCB2D3; color: white; font-weight: bold;">+ Agregar categoría</a>

        <table class="table table-striped table-hover table-responsive-sm text-center align-middle">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in categorias %}
                <tr>
                    <td>{{ c.name|title }}</td>
                    <td>
                        <a href="{% url 'admin_modificar_categoria' c.id %}" class="btn btn-sm" style="background-color: #B28DFF; color: white;">Modificar</a>
                        <a href="#" onclick="eliminarCategoria({{c.id}})" class="btn btn-sm" style="background-color: #db0c7e; color: white;">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock %}