/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap'); /*Montserrat*/

@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap'); /*Bubbler One*/



/*Estilos de la pagina*/
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FDFBFF;
    border-bottom: none;
}


/*Barras*/
.navbar-cafe{
    background-color: #FDFAF7;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px
}

.navbar-brand{
    font-family: 'Bubbler One', sans-serif !important;
    color: #1FBBE7 !important;
    font-size: 1.4rem !important;
    font-weight: bold !important;
    letter-spacing: 0.5px !important;
    ;
}

.nav-links a {
    color: #7B7171; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;           
    font-size: 0.85rem;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.nav-links a:hover {
    color: #c3b3b3;
} 

.nav-identification{
    color: #B3AAAA; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;           
    font-size: 0.80rem;
    letter-spacing: 0.1em;
    text-decoration: none;

}

.nav-identification:hover{
    color: #a58181;
}

/*Carusel banner*/

#carousel-Indicators {
    max-width: 1300px; 
    margin: 30px auto !important; 

}


.carousel-inner {
    border-radius: 50px; 
    overflow: hidden;
    box-shadow: 4px 4px 20px #FDFBFF !important;
}


.carousel-item img {
    height: auto !important;
    object-fit: cover; 
    object-position: center; 
}

/*Carusel nuevo menu*/

.contenedor-productos{
    width: 1300px !important;
    height: auto !important;
    margin: 40px auto; 
    padding: 0px 40px !important;
}

#carousel-NewMenu {
    max-width: 900px; 
    margin: 0px auto !important; 
    border-radius: 50px;
    background-color: transparent !important;
}

#carousel-NewMenu .carousel-inner {
    border-radius: 50px; 
    overflow: hidden;
    padding-top: 15px !important;
    padding-bottom: 24px !important;
}
#carousel-NewMenu .carousel-item img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover; 
    object-position: center; 
    aspect-ratio: 1 / 1 !important
}

/*Imagenes de productos ajustes*/
.product-image {
    height: 250px !important;
    width: 200px !important;
    border-radius: 30px !important; 
    border: none !important;
    background-color: #FDFBFF !important;
    overflow: hidden !important;
    box-shadow: 0 8px 15px rgba(123, 113, 113, 0.08) !important;
}
.product-image img {
    border-radius: 30px !important; 
    object-fit: cover !important; 
    object-position: center !important;
    height: 180px !important;
}

/*Botones carrusel Menu nuevo*/
#carousel-NewMenu .carousel-control-prev,
#carousel-NewMenu .carousel-control-next {
	box-shadow:0px 1px 0px 0px #b4a2a2 !important;
	background-color:#FFFEFB !important;
    opacity: 1 !important;
	border-radius: 50% !important;
	border:1px solid #dcdcdc !important;
	cursor:pointer !important;
    /*Tamano circulo*/
    height: 50px !important;
    width: 50px !important;
    /*Posicionamiento*/
    top: 50% !important;
    transform:translateY(-50%) !important;

}

#carousel-NewMenu .carousel-control-prev { 
    left: -35px !important; 
    transform: translateX(5px) rotate(-45deg) !important;
    margin-left: 4px !important;

}
#carousel-NewMenu .carousel-control-next {
    right: -35px !important; 
    TRANSFORM: translateX(-5px) rotate(135deg) !important;
    margin-right: 4px !important;
    
    }

/*Colrores flechas*/
#carousel-NewMenu .carousel-control-prev-icon,
#carousel-NewMenu .carousel-control-next-icon {
    height: 15px !important;
    width: 15px !important;
    margin:0 !important;
    padding:0 !important;
    border-top: 2px solid #ada2a2 !important; 
    border-left: 2px solid #ada2a2 !important;
}

/*Botones carrusel recomendados*/
#carousel-BestMenu .carousel-control-prev,
#carousel-BestMenu .carousel-control-next {
	box-shadow:0px 1px 0px 0px #b4a2a2 !important;
	background-color:#FFFEFB !important;
    opacity: 1 !important;
	border-radius: 50% !important;
	border:1px solid #dcdcdc !important;
	cursor:pointer !important;
    /*Tamano circulo*/
    height: 50px !important;
    width: 50px !important;
    /*Posicionamiento*/
    top: 50% !important;
    transform:translateY(-50%) !important;

}

#carousel-BestMenu .carousel-control-prev { 
    left: -35px !important; 
    transform: translateX(5px) rotate(-45deg) !important;
    margin-left: 4px !important;

}
#carousel-BestMenu .carousel-control-next {
    right: -35px !important; 
    TRANSFORM: translateX(-5px) rotate(135deg) !important;
    margin-right: 4px !important;
    
    }

/*Colrores flechas*/
#carousel-BestMenu .carousel-control-prev-icon,
#carousel-BestMenu .carousel-control-next-icon {
    height: 15px !important;
    width: 15px !important;
    margin:0 !important;
    padding:0 !important;
    border-top: 2px solid #ada2a2 !important; 
    border-left: 2px solid #ada2a2 !important;
}

/*Eventos*/

.event-carousel-roll{
    display: flex !important;
    padding: 10px !important;
    overflow-x: hidden !important;
    width: 100% !important;

}

.event-group{
    display:flex !important;
    gap: 1.5em !important;
    padding-right: 1.5em !important;
    animation: spin 30s infinite linear !important;
}

.event-carousel-roll::-webkit-scrollbar {
    display: none !important;
}

.event-card {
    flex: 0 0 400px !important;
}

.event-card img {
    width: 100% !important;
    height: 355px !important;
    object-fit: cover !important;
    
}


/*Animacion eventos*/
@keyframes spin {
    from{translate: 0 ;}
    to{translate: -100%;}
}

.event-carousel-roll:hover .event-group{
    animation-play-state:paused !important;
}



/*solo por ver*/
.login-body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FDFBFF !important; 

.form-signin {
    width: 100%;
    max-width: 400px; 
    padding: 40px;
    margin: auto;
    background-color: white; 
    border-radius: 40px;
    box-shadow: 0 8px 25px rgba(123, 113, 113, 0.08); 
}


.form-signin .login-input {
    border-radius: 15px !important;
    border: 1px solid #dcdcdc;
    margin-bottom: 15px; 


.form-signin .login-input:focus {
    border-color: #FCB2D3;
    box-shadow: 0 0 0 0.25rem rgba(252, 178, 211, 0.25);
}