/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap'); /*Montserrat*/

@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap'); /*Bubbler One*/


body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F9FB;
    border-bottom: none;
}

.navbar-admin{
    position: sticky !important;
    background-color: #EDEEF0 !important;
}
.nav-links {
    font-size: 2rem !important;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.nav-links a {
    color: #7B7171; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;           
    font-size: 0.85rem;
    letter-spacing: 0.1em;
    text-decoration: none !important;
}
.nav-links a:hover {
    color: #e4228d;
} 

