{% extends 'panel_admin/base.html' %}

{% block main %}
<h1 class="mb-4">Inicio </h1>

<div class="row g-5 mb-5">
<div class="col-md-4">
    <div class ="card shadow-sm h-100"style="border-radius=5px">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bx bxs-coffee" style="color:#e4228d;"></i> Total productos
                </h5>
                <p class="display-6 fw-bold" style="color: #e4228d;">{{ total_productos }}</p>
                <p class="card-text"> Total de productos registrados</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm h-100"style="border-radius=15px">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bx bx-calendar-star" style="color:#e4228d;"></i>Eventos
                </h5>
                <p class="display-6 fw-bold" style="color: #e4228d;">{{ total_eventos }}</p>
                <p class="card-text ">Total de eventos activos</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card  shadow-sm h-100"style="border-radius=15px">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bx bx-basket" style="color:#e4228d;"></i>Pedidos
                </h5>
                <p class="display-6 fw-bold" style="color: #e4228d;">{{ total_pedidos }}</p>
                <p class="card-text">Cantidad de pedidos realizados</p>
            </div>
        </div>
        </div>
</div>

<div class="row g-4">
    <div class="col-md-8">
        <div class="card shadow-sm" style="border-radius=15px">
            <div class="card-body">
                <h5 class="card-title" style="color: #e4228d;">Productos mas vendidos</h5>
                <table class="table table-hover mt-3 align-middle">
                    <thead>
                        <tr class="table-active">
                            <th>#</th>
                            <th>Producto</th>
                            <th>Categoría</th>
                            <th>Vendidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in top_productos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ producto.name }}</td>
                            <td>{{ producto.category }}</td>
                            <td>
                                <span class="badge" style="background-color: #e4228d;">
                                    {{ producto.total_vendido|default:"0" }}
                                </span>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-muted">No hay pedidos</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}